[mysql]

port                           = 3306
socket                         = /var/lib/mysql/mysql.sock

[mysqladmin]
socket                         = /var/lib/mysql/mysql.sock

[mysqldump]
socket                         = /var/lib/mysql/mysql.sock


[mysqld]

# GENERAL #
user                           = mysql
default-storage-engine         = InnoDB
socket                         = /var/lib/mysql/mysql.sock
pid-file                       = /var/lib/mysql/mysql.pid

# MyISAM #
key-buffer-size                = 32M
myisam-recover                 = FORCE,BACKUP

# SAFETY #
max-allowed-packet             = 16M
max-connect-errors             = 1000000
skip-name-resolve
#sql-mode                       = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY
innodb                         = FORCE
innodb-strict-mode             = 1

# DATA STORAGE #
datadir                        = /var/lib/mysql/data

# BINARY LOGGING #
log-bin                        = /var/lib/mysql/mysql-bin
# log-bin                        = mysql-bin
expire-logs-days               = 0
sync-binlog                    = 1

# CACHES AND LIMITS #
tmp-table-size                 = 32M
max-heap-table-size            = 32M
query-cache-type               = 0
query-cache-size               = 0
max-connections                = 500
thread-cache-size              = 50
open-files-limit               = 65535
table-definition-cache         = 1024
table-open-cache               = 2048

# INNODB #
innodb-flush-method            = O_DIRECT
innodb-log-files-in-group      = 2
innodb-log-file-size           = 256M
innodb-flush-log-at-trx-commit = 1
innodb-file-per-table          = 1
innodb-buffer-pool-size        = 2G
#innodb-buffer-pool-instances   = 16

# TOKUDB #
#plugin-load		       = ha_tokudb

# LOGGING #
log-error                      = /var/lib/mysql/log/mysql-error.log
slow-query-log                 = 0
slow-query-log-file            = /var/lib/mysql/log/mysql-slow.log
long_query_time 	       = 0
log-queries-not-using-indexes  = 1
general_log                    = 0
general_log_file               = /var/lib/mysql/log/mysql-general.log


# KODOVANI #
character-set-server 	       = utf8

#Testing
innodb_sort_buffer_size        = 2048576
connect_timeout		       = 1
tmpdir			       = /mnt/data/tmp

